/* bestselling beer */
.bestselling-beer-wrapper {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(3, min-content) 2vh repeat(5, min-content);
}

.bestselling-beer {
    grid-column: 2 / 10;
    grid-row: 6 / 7;
    font-family: "Nunito", sans-serif;
}

.bestselling-beer-header {
    font-size: 4.5rem;
    color: var(--darkgray);
    text-align: center;
    margin: 3rem 0;
    font-family: "Baloo Da 2", serif;
    text-transform: uppercase;
}

.bestselling-beer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 6.4rem;
}

.bestselling-beer-card {
    background-color: #efefef;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .3);
}

.bestselling-beer-img {
    width: 100%;
    border-radius: .3rem .3rem 0 0;
}

.bestselling-beer-heading {
    background-color: var(--gold);
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2.4rem;
    color: var(--white);
    padding: .5rem 0;
    border-radius: .2rem;
    transform: translateY(-50%);
}

.bestselling-beer-paragraph {
    font-size: 1.9rem;
    color: #23487f;
    text-align: center;
    margin-bottom: 1.6rem;
}

.bestselling-beer-btn {
    width: 100%;
    padding: 1.6rem 0;
    background-color: var(--darkgray);
    font-size: 1.9rem;
    color: #fff;
    border: none;
    border-radius: 0 0 .3rem .3rem;
}

.bestselling-beer-btn:hover {
    background-color: var(--gold);
}
/* end of bestselling beer */




