.main {
  background-color: var(--darkgray);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
  background-color: var(--darkgray);
}
