:root {
  --errorColor: #f00e0e;
  --validColor: #0add0a;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}


/********** MODAL ANIMATION **********/
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.form-validation {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-validation.error {
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid var(--errorColor);
  border-radius: 2px;
}

.form-validation.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid var(--validColor);
  border-radius: 2px;
}

.modal-content {
  background: var(--whitesmoke);
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-content-left {
  background: linear-gradient(
    90deg,
    rgba(247, 74, 70, 1) 0%,
    rgba(236, 43, 0, 1) 100%
  );
  border-radius: 0 3px 3px 0;
  position: relative;
}

#modal-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-right {
  border-radius: 0 3px 3px 0;
  position: relative;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form h1 {
  font-size: 1.2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}

.modal-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2rem;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal-input-btn {
  width: 80%;
  height: 2rem;
  border-radius: 2px;
  background-color: var(--brightred);
  outline: none;
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}

.modal-input-btn:hover {
  cursor: pointer;
  background-color: var(--lightblue);
  transition: all 0.4s ease-out;
}

.modal-input-message {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--darkgray);
  width: 80%;
  text-align: center;
}

/********** MOBILE RESPONSIVE **********/
@media screen and (max-width: 768px) {
  .modal-content-left {
    display: none;
  }

  .modal-content {
    grid-template-columns: auto;
    margin: 15%;
    width: 70%;
    height: 75%;
  }
}

@media screen and (max-width: 580px) {
  .modal-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
}
